body {
  font-family: "Muli", sans-serif;
  font-weight: 100;
  width: 100%;
}

h1, h3 {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 40px;
}

b {
  color: #ed186f;
}

.units {
  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

p {
  font-size: 15px;
}

#sections {
  position: relative;
  display: inline-block;
  z-index: 90;
  width: 65%;
  top: 50px;
}

.step {
  margin-bottom: 200px;
}

.step div {
  margin-bottom: 15px;
}

.content {
  position: absolute;
  left: 10%;
  width: 50%;
}

.diagram {
  font-size: 10.5px;
}

.diagram circle {
  fill: #ece8f1;
  stroke: #cacbcc;
  stroke-width: 0.3;
}

#maternity-bubble-chart {
  display: inline-block;
  position: fixed;
  height: 700px;
  width: 700px;
  z-index: 1;
  margin-left: 3%;
  margin: 3%;
  border: 2px solid #F1F3F4;
  border-radius: 100%;
}

.maternity-bubble:hover {
  opacity: 0.5;
}

.maternity-circle {
  stroke: #cacbcc;
  stroke-width: 0.3;
}

.numbers-text {
  font-size: 15px;
  text-anchor: middle;
}

.company-name {
  font-size: 22px;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 900;
}

.company-number {
  font-size: 18px;
}

.company-industry {
  font-size: 18px;
}

.annotation path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.annotation-note-title {
  fill: black;
  font-size: 19px;
}

.annotation-note-label {
  fill: #8b8b8c;
  font-size: 17px;
}

.average-group .average,
.larger-percentage-group .larger-percentage,
.smaller-percentage-group .smaller-percentage {
  font-size: 150px;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 900;
  text-anchor: middle;
}

.average-group .average-subtext,
.larger-percentage-group .larger-percentage-subtext,
.smaller-percentage-group .smaller-percentage-subtext {
  font-size: 30px;
  color: #ccc;
  text-anchor: middle;
}

@media only screen and (min-width: 376px) {
  .last-step {
    margin-bottom: 35%;
  }
}

@media only screen and (max-width: 375px) {
  .last-step {
    margin-bottom: 400%;
  }
}