body {
  font-family: "Inconsolata";
}

.units {
  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

#maternity-bubble-chart {
  border: 2px solid #cacbcc;
}
