body {
  font-family: "Muli", sans-serif;
  font-weight: 100;
  width: 100%;
}

h1, h3 {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 40px;
}

.units {
  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

p {
  text-indent: 20px;
  font-size: 15px;
}

#sections {
  position: relative;
  display: inline-block;
  z-index: 90;
  width: 65%;
  top: 50px;
}

.step {
  margin-bottom: 200px;
}

.step div {
  margin-bottom: 15px;
}

.last-step {
  margin-bottom: 75%;
}

.content {
  position: absolute;
  left: 10%;
  width: 50%;
}

#maternity-bubble-chart {
  display: inline-block;
  position: fixed;
  height: 650px;
  width: 650px;
  z-index: 1;
  margin: 5%;
  border: 2px solid #F1F3F4;
  border-radius: 100%;
}

.maternity-circle {
  stroke: #cacbcc;
  stroke-width: 0.3;
}

.numbers-text {
  font-size: 15px;
  text-anchor: middle;
}

.company-name {
  font-size: 19px;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 900;
}

.company-number {
  font-size: 15px;
}

.company-industry {
  font-size: 15px;
}

.annotation path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.annotation-note-title {
  fill: black;
  font-size: 19px;
}

.annotation-note-label {
  fill: #8b8b8c;
  font-size: 15px;
}

.average-group .average,
.larger-percentage-group .larger-percentage {
  font-size: 150px;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 900;
  text-anchor: middle;
}

.average-group .average-subtext,
.larger-percentage-group .larger-percentage-subtext {
  font-size: 30px;
  color: #ccc;
  text-anchor: middle;
}
